<a href="https://colab.research.google.com/github/PRIYAANGADI/covid/blob/main/import_census_data_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Imports

In [12]:
import requests # request http, api
import pandas as pd # tabluar data
import plotly.express as px

Local and Constant Variables

Functions

In [13]:
def json_to_dataframe(response):
    """
    Convert response to dataframe
    """
    return pd.DataFrame(response.json()[1:], columns=response.json()[0])

Data
https://api.census.gov/data/2017/popproj/nim?get=YEAR&for=us:*&key=YOUR_KEY_GOES_HERE

In [14]:
url = "https://api.census.gov/data/2019/pep/charage?get=NAME,POP&for=us:*&key=257af8bb66359e40370b9cefa9a7860ba37f07bf"\
    

response = requests.request("GET", url)
response

response.text

'[["NAME","POP","us"],\n["United States","328239523","1"]]'

In [16]:
json_to_dataframe(response)

            NAME        POP us
0  United States  328239523  1

In [17]:
# population united states by year (last 5 on record)
url = "https://api.census.gov/data/2019/pep/charage?get=NAME,POP&DATE_CODE=8,9,10,11,12&DATE_DESC&for=us:*&key=257af8bb66359e40370b9cefa9a7860ba37f07bf"
    

response = requests.request("GET", url)

In [18]:

json_to_dataframe(response)

            NAME        POP DATE_CODE                     DATE_DESC us
0  United States  320635163         8  7/1/2015 Population Estimate  1
1  United States  322941311         9  7/1/2016 Population Estimate  1
2  United States  324985539        10  7/1/2017 Population Estimate  1
3  United States  326687501        11  7/1/2018 Population Estimate  1
4  United States  328239523        12  7/1/2019 Population Estimate  1

In [21]:
url = "https://api.census.gov/data/2019/pep/charage?get=NAME,POP&DATE_CODE=8,9,10,11,12&DATE_DESC&for=us:*&key=257af8bb66359e40370b9cefa9a7860ba37f07bf"

response = requests.request("GET", url)
json_to_dataframe(response)

            NAME        POP DATE_CODE                     DATE_DESC us
0  United States  320635163         8  7/1/2015 Population Estimate  1
1  United States  322941311         9  7/1/2016 Population Estimate  1
2  United States  324985539        10  7/1/2017 Population Estimate  1
3  United States  326687501        11  7/1/2018 Population Estimate  1
4  United States  328239523        12  7/1/2019 Population Estimate  1

In [24]:
df_pop_by_state = json_to_dataframe(response)

# convert population to integer
df_pop_by_state['POP'] = df_pop_by_state['POP'].astype(int)

# top 5 states with largest population
df_pop_by_state_sort = df_pop_by_state\
    .sort_values(by=['POP'], ascending=False)\
    .head(5) 
print('Top 5 states with largest population estimates:')
df_pop_by_state_sort

Top 5 states with largest population estimates:

            NAME        POP DATE_CODE                     DATE_DESC us
4  United States  328239523        12  7/1/2019 Population Estimate  1
3  United States  326687501        11  7/1/2018 Population Estimate  1
2  United States  324985539        10  7/1/2017 Population Estimate  1
1  United States  322941311         9  7/1/2016 Population Estimate  1
0  United States  320635163         8  7/1/2015 Population Estimate  1